.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container h1 {
    letter-spacing: 2px;
}

.solid {
    border-top: 3px solid #1565C0;
    width: 6%;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 850px) {
    .solid {
        width: 15%;
    }
}