.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container h1 {
    letter-spacing: 2px;
}

.box {
    margin: auto 15rem;
}

.solid {
    margin-top: 5px;
    margin-bottom: 1rem;
    border-top: 3px solid;
    width: 6%;
    border-image: linear-gradient(to right, #ffff, rgba(241, 85, 64, 1)) 1 0 0 0;
}

@media screen and (max-width: 1024px) {
    .box {
        margin: auto;
    }
}

@media screen and (max-width: 850px) {
    .solid {
        width: 15%;
    }
}